@tailwind base;
@tailwind components;
@tailwind utilities;

/*
1. Use the user's configured `sans` font-family by default.
2. Use the user's configured `sans` font-feature-settings by default.
3. Use the user's configured `sans` font-variation-settings by default.
*/
@font-face {
    font-family: "Poppins";
    font-weight: 400;
    font-style: normal;
    src: url("/fonts/Poppins-Regular.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Poppins";
    font-weight: 500;
    font-style: normal;
    src: url("/fonts/Poppins-Medium.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Poppins";
    font-weight: 600;
    font-style: normal;
    src: url("/fonts/Poppins-SemiBold.ttf") format("truetype");
  }